### Feburary stats

In [5]:
import pandas as pd

In [11]:
raw_df_7th = pd.read_csv("EcoRing_February_7th.csv",index_col=0)
raw_df_14th = pd.read_csv("EcoRing_Feburuary_14th.csv",index_col=0)
raw_df_21th = pd.read_csv("EcoRing_Feburuary_21st.csv",index_col=0)
raw_df_21th

,Brand Name,Ctag,Photo,Unnamed: 4,Description,Grading,Ecoring\nGrading\n\n,備考(付属品）,Cost(price after Tax),Befor Tax,...,2,3,Sales commission,result(after tax),Profit / Loss,Sold,C-tag scan,Buyer,Memo,tracking number
Number,,,,,,,,,,,,,,,,,,,,,
1,Hermès,C274595,NaN,バーキン30 トゴ ルージュカザック G,Birkin 35 Togo Rouge Kazak G,B+,NaN,NaN,"¥827,090","¥751,900",...,NaN,NaN,2640,1000560,173470.0,True,C274595,NaN,NaN,1977-4520-7365
2,Chanel,C278251,NaN,ミニボーイシャネル15 ベルベット,Boy Bag Mini Velvet Blue,B+,NaN,NaN,"¥249,260","¥226,600",...,"161,000",NaN,2640,174460,-74800.0,False,C278251,NaN,NaN,NaN
3,Chanel,C267440,NaN,チェーントートバッグ カード有,Black Quilted Leather Tote with Gold Hardware,B+,NaN,NaN,"¥316,800","¥288,000",...,NaN,NaN,2640,284460,-32340.0,False,C267440,NaN,NaN,NaN
4,Louis Vuitton,C254480,NaN,LOUIS VUITTON ネヴァーフル MM カーフ TOURTERELLE ゴールド モ...,Monogram Empreinte Neverfull MM Bag,B,NaN,NaN,"¥150,689","¥136,990",...,NaN,NaN,2640,"186,560",35871.0,True,C254480,NaN,NaN,NaN
5,Prada,C287214,NaN,プラダ 2WAYバッグ,"Crossbody Bag, Nylon",AB,NaN,NaN,"¥73,450","¥66,773",...,"76,000",NaN,2640,"80,960",7510.0,True,C287214,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
raw_df_21th.loc[raw_df_7th["Brand Name"].isna()]

,Brand Name,Ctag,Photo,Unnamed: 4,Description,Grading,Ecoring\nGrading\n\n,備考(付属品）,Cost(price after Tax),Befor Tax,...,2,3,Sales commission,result(after tax),Profit / Loss,Sold,C-tag scan,Buyer,Memo,tracking number
Number,,,,,,,,,,,,,,,,,,,,,
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,¥0,...,NaN,NaN,990,NaN,NaN,False,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,¥0,...,NaN,NaN,990,NaN,NaN,False,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,¥0,...,NaN,NaN,990,NaN,NaN,False,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,¥0,...,NaN,NaN,990,NaN,NaN,False,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,¥0,...,NaN,NaN,990,NaN,NaN,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_7th = raw_df_7th.iloc[:30] 
df_14th = raw_df_14th.iloc[:15] 
df_21th = raw_df_21th.iloc[:20] 
feb_df = pd.concat([df_7th, df_14th, df_21th], ignore_index=True)
feb_df

,Brand Name,Ctag,Photo,Unnamed: 4,Description,Grading,Ecoring\nGrading\n\n,備考(付属品）,Cost(price after Tax),Befor Tax,...,2,3,Sales commission,result(after tax),Profit / Loss,Sold,C-tag scan,Buyer,Memo,tracking number
0,Chanel,C273710,NaN,Chanel 復刻トートバッグ キャビアスキン シールあり Made in 1994-1996\r,Medallion Quilted Caviar Leather Tote Bag,BC,B,NaN,"¥79,310","¥72,100",...,NaN,NaN,2640,95260,15950.0,True,C273710,NaN,handle broken,NaN
1,Chanel,C281766,NaN,"ﾊﾟﾘ限定, ﾁｪｰﾝｼｮﾙﾀﾞｰ黒 ラムスキン",Black Lambskin Chain Shoulder Bag,B,B,NaN,"¥33,000","¥30,000",...,NaN,NaN,2640,218460,185460.0,True,C281766,NaN,No sticker,NaN
2,Chanel,C269413,NaN,CHANEL チェーンミートート ピンク,"Handbag, Leather",B,AB,NaN,"¥244,860","¥222,600",...,"161,000",NaN,2640,174460,-70400.0,False,C269413,NaN,NaN,NaN
3,Chanel,C277580,NaN,ｼｬﾈﾙ ﾊﾞﾆﾃｨ黒 ｷｬﾋﾞｱ,Black Caviar Leather CC Vanity Case,B+,B,NaN,"¥155,820","¥141,655",...,"115,000","117,000",2640,"126,060",-29760.0,False,C277580,NaN,NaN,NaN
4,Chanel,C211772,NaN,ｷｬﾋﾞｱｽｷﾝ 長財布 ﾊﾟｰﾌﾟﾙ 6番台,Purple leather wallet for women,B+,BC,NaN,"¥42,735","¥38,850",...,"14,000","19,000",1540,"19,360",-23375.0,False,C211772,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Chanel,C252806,NaN,ミラー ポーチ スタンプ 3点セット,Black handheld mirror,B+,NaN,NaN,"¥13,565","¥12,332",...,"8,000",NaN,990,7810,-5755.0,False,C252806,NaN,C252806 ￥8800\nC251809 ￥ 2310 / C245255￥2455,NaN
61,Chanel,C254673,NaN,シャネル アイコニックデザイン シルク スカーフ,Silk scarf with iconic Chanel designs,B,NaN,NaN,"¥22,885","¥20,805",...,"14,000",NaN,1540,13860,-9025.0,False,C254673,NaN,NaN,NaN
62,Chanel,C229230,NaN,シャネル ヴィンテージ イヤリング,Vintage Logo Pearl & Rhinestone Clip-On Earrings,B,NaN,NaN,"¥26,109","¥23,735",...,"16,000",NaN,1540,16060,-10049.0,False,C229230,NaN,C136492 ￥50,NaN
63,Hermès,C281668,NaN,1789 LIBERTE EGALITE FRATERNITE REPUBLIQ 1789年...,1789 Liberté Égalité Fraternité silk scarf,B+,NaN,NaN,"¥7,260","¥6,600",...,NaN,NaN,1540,10560,3300.0,True,C281668,NaN,NaN,NaN
64,Hermès,C281664,NaN,カレ 占星術 DIES ET HORE,Astrologie Dies et Hore silk scarf,AB,NaN,NaN,"¥14,520","¥13,200",...,"10,000",NaN,990,10010,-4510.0,False,C281664,NaN,NaN,NaN

###  Profit/Loss Analysis

In [17]:
sold_items = feb_df[feb_df['Sold'] == True]
total_profit = sold_items['Profit / Loss'].sum()

unsold_items = feb_df[feb_df['Sold'] == False]
unsold_items["Profit / Loss"] =-440 
total_fee =  unsold_items["Profit / Loss"].sum()

print(total_profit)
feb_total = total_profit + total_fee
print(feb_total)

544044.0
526884.0

C:\Users\Jens\AppData\Local\Temp\ipykernel_1844\4186750519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unsold_items["Profit / Loss"] =-440

In [19]:
sold_items['result(after tax)'] = sold_items['result(after tax)'].replace('[¥,]', '', regex=True).astype(float)
sold_items['Cost(price after Tax)'] = sold_items['Cost(price after Tax)'].replace('[¥,]', '', regex=True).astype(float)

C:\Users\Jens\AppData\Local\Temp\ipykernel_1844\3679091728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sold_items['result(after tax)'] = sold_items['result(after tax)'].replace('[¥,]', '', regex=True).astype(float)
C:\Users\Jens\AppData\Local\Temp\ipykernel_1844\3679091728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sold_items['Cost(price after Tax)'] = sold_items['Cost(price after Tax)'].replace('[¥,]', '', regex=True).astype(float)

In [27]:
# Group by Brand Name and calculate total sales, total profit/loss, average price, and count of sold items
brand_sales = sold_items.groupby('Brand Name').agg(
    total_sales=('result(after tax)', 'sum'),
    total_profit_loss=('Profit / Loss', 'sum'),
    average_price=('Cost(price after Tax)', 'mean'),
    items_sold=('Brand Name', 'count')  # Counting the number of items sold per brand
)

# Calculate the total profit across all brands
total_profit = brand_sales['total_profit_loss'].sum()

# Calculate the percentage contribution of each brand's profit
brand_sales['profit_share_percentage'] = (brand_sales['total_profit_loss'] / total_profit) * 100

# Sort by total sales to see which brand has the highest sales
brand_sales_sorted = brand_sales.sort_values(by='total_sales', ascending=False)

brand_sales_sorted

,total_sales,total_profit_loss,average_price,items_sold,profit_share_percentage
Brand Name,,,,,
Hermès,1023880.0,183480.0,280133.333333,3,33.725213
Louis Vuitton,867020.0,98243.0,109825.285714,7,18.057914
Chanel,313720.0,201410.0,56155.000000,2,37.020903
Prada,232540.0,18676.0,53466.000000,4,3.432811
Christian Dior,91630.0,9760.0,27290.000000,3,1.793973
Bottega Veneta,76560.0,-2440.0,79000.000000,1,-0.448493
Gucci,49720.0,24090.0,12815.000000,2,4.427951
MCM,25960.0,3300.0,22660.000000,1,0.606569
Fendi,21560.0,3960.0,17600.000000,1,0.727882
Coach,7920.0,3565.0,2177.500000,2,0.655278

In [29]:
feb_df.to_csv("february_sales.csv", index=False)

In [7]:
df = pd.read_csv(r"C:\Users\Jens\JPorts_al\Ecoring\Eco_sale_data\february_sales.csv")  

sold_items = df[df["Sold"] == True]
total_sold = sold_items.shape[0]
total_sold

26

In [21]:
total_fee

np.int64(-17160)

In [25]:
544044-17160

526884

In [51]:
raw_df_jan = pd.read_csv(r"Ecoring_jan.csv")
raw_df_jan.loc[raw_df_jan["Brand Name"].isna()]
df_jan = raw_df_jan.iloc[:69] 
df_jan['Profit / Loss'] = df_jan['Profit / Loss'].replace({',': ''}, regex=True).astype(float)

In [71]:
sold_items_jan = df_jan[df_jan['Sold'] == True]
sold_items_jan['Profit / Loss'] = sold_items_jan['Profit / Loss'].replace({',': ''}, regex=True).astype(float)

total_profit_jan = sold_items_jan['Profit / Loss'].sum()

unsold_items_jan = df_jan[df_jan['Sold'] == False]
unsold_items_jan["Profit / Loss"] =-440 
total_fee_jan =  unsold_items_jan["Profit / Loss"].sum()

print(total_profit_jan)
jan_total = total_profit_jan + total_fee_jan
print(jan_total)

-55726.0
-79486.0

C:\Users\Jens\AppData\Local\Temp\ipykernel_1844\378994360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sold_items_jan['Profit / Loss'] = sold_items_jan['Profit / Loss'].replace({',': ''}, regex=True).astype(float)
C:\Users\Jens\AppData\Local\Temp\ipykernel_1844\378994360.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unsold_items_jan["Profit / Loss"] =-440

In [73]:
total_profit_jan

np.float64(-55726.0)

In [67]:
sold_items_jan

,\nNumber,Brand Name,Ctag,Photo,Unnamed: 4,Description,Grading,Ecoring\nGrading\n\n,備考(付属品）,Cost(price after Tax),...,1,2,3,Sales commission,result(after tax),Profit / Loss,Sold,C-tag scan,Buyer,Memo
2,3.0,Chanel,C280901,NaN,ラムスキン ダイアナ マトラッセ チェーン ショルダーバッグ,Vintage black quilted lambskin handbag,B,Ｂ,NaN,"¥582,362",...,NaN,"401,000",2640,438460,-143902,"-143,902",True,C280901,NaN,miss bying
3,4.0,Chanel,C231719,NaN,ャネル マトラッセ25 ダブルフラップ ダブルチェーンバッグ ショルダーバッグ,Black Quilted Lambskin Double Flap Bag,B,B,NaN,"¥283,250",...,"¥294,000",NaN,2640,320760,"37,510","37,510",True,C231719,NaN,NaN
4,5.0,Chanel,C228419,NaN,長財布 ラムスキン グリーン ボーイシャネル 28678683 ゴールド金具 B,"Quilted leather long wallet, turquoise",B,AB,NaN,"¥54,384",...,"¥57,000",NaN,2640,60060,"5,676","5,676",True,C228419,NaN,paint
5,6.0,Chanel,C255060,NaN,シャネル リップチャーム ストラップ,Lipstick Logo Phone Charm,AB,B,NaN,"¥1,650",...,NaN,"1,000",990,110,-1540,-440,True,C255060,NaN,"CHANEL's novelty items are sold only in Japan,..."
6,7.0,Gucci,C309052,NaN,Gucci ダブルG キルティング ブラック,Double G Quilted Black Long Wallet,B,AB,NaN,"¥17,600",...,"¥27,500",NaN,1540,28710,"11,110","11,110",True,C309052,NaN,NaN
7,8.0,Gucci,C278876,NaN,GGキャンバス トートバッグ,GG Canvas Abbey Pocket Tote bag,B,B,NaN,"¥10,450",...,"¥17,600",NaN,1540,17820,"7,370","7,370",True,C278876,NaN,NaN
23,24.0,Gucci,C307793,NaN,グッチ スプリーム マーガレット チェーンショルダー ショルダーバッグ,GG Supreme Queen Margaret Chain Wallet,B,AB,NaN,"¥64,581",...,"¥63,000",NaN,2640,66660,"2,079","2,079",True,C307793,NaN,NaN
29,30.0,Prada,C259866,NaN,プラダ ビーニー ニットキャップ,Wool beanie hat in gray,AB,A,NaN,"¥12,000",...,NaN,"10,000",990,10010,-1990,"1,860",True,C259866,NaN,NaN
35,36.0,Prada,C252269,NaN,プラダ シルク スカーフ,Gold and black zebra pattern Silk Scarf,B+,B,NaN,"¥6,325",...,"¥7,000",NaN,990,6710,385,385,True,C252269,NaN,NaN
38,39.0,Hermès,C265681,NaN,エルメス ツイリー,Les Leopards Silk Twilly Scarf,B+,B,NaN,"¥12,100",...,"¥15,000",NaN,1540,14960,2860,"2,860",True,C265681,NaN,NaN
39,40.0,Salvatore Ferragamo,C252253,NaN,フェラガモ シルク スカーフ,Red silk scarf with floral design,B+,B,NaN,"¥2,300",...,"¥3,000",NaN,990,2310,10,10,True,C252253,NaN,NaN
43,44.0,Chanel,C274012,NaN,シャネル ピンク ラウンド ウォレット 長財布,"Wallet, Leather",B+,AB,NaN,"¥28,325",...,"¥30,000",NaN,1540,31460,"3,135","3,135",True,C274012,NaN,NaN
47,48.0,Gucci,C309136,NaN,GGキャンバス シェリーライン トートバッグ,GG Canvas Sherry Line Tote Bag,B,B,NaN,"¥25,300",...,"¥28,000",NaN,1540,29260,"3,960","3,960",True,C309136,NaN,NaN
51,52.0,Louis Vuitton,C268957,NaN,マヒナ ソーラー PM ショルダー バッグ,White Mahina Leather Solar PM Bag,AB,B,NaN,"¥139,359",...,"¥139,000",NaN,2640,150260,"10,901","10,901",True,C268957,NaN,NaN
66,67.0,Gucci,C278875,NaN,グッチシマ トートバッグ ハンドバッグ,Guccissima leather tote handbag,B,B,NaN,"¥19,800",...,"¥19,000","21,000",1540,21560,1760,"1,760",True,C278875,NaN,NaN

In [75]:
feb_df.to_csv("february_sales.csv", index=False)

np.int64(-23760)